.details{
    margin-left: 500px;
    margin-top: 170px;
    /* margin-left: 500px;*/
    margin-right: 763px; 
    
    
    /* margin-right: 700px; */
}

/* .list{
    padding: 10px;
} */
/* .text{
    margin-left: 430px;
    margin-top: 6px;
    margin-right: 745px;
    text-align: center;
    background-color: aquamarine;
} */