/* .Appbar {
    background-color: #11ffee00;
}
.logoName{
    margin-left: 20px;
} */
/* .icon {
    float: right;
}
.login{
    float: right;
} */
/* h1{
    color: aquamarine;
} */
/* .login{
    display: flex;
    float: right; 
    margin-left: 60px;  
}
.profile{
    margin-left: 1100px;
} */
.div{
    margin-top: -419px;
    /* float: right; */
    margin-left: 800px;
}
img{
    margin-left: 150px;
}

.scontent{
    padding: 20px;
}